Source: usrsctp
Section: utils
Priority: optional
Maintainer: George Hopkins <george-hopkins@null.net>
Build-Depends:
 debhelper (>= 9),
 dh-autoreconf
Standards-Version: 3.9.7

Package: libusrsctp
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: SCTP userland stack

Package: libusrsctp-dev
Section: libdevel
Architecture: any
Depends: libusrsctp (= ${binary:Version})
Description: SCTP userland stack (development files)
